h1{
    border: solid black;
    text-align: center;  
    background-color: aliceblue;
    border-radius: 6%;
}

li {
    border: solid black;
    color: black;
    text-align: center;
    

}

section{

    width: 50%;
}

.container{
    
}