h1{
    border: solid black;
    text-align: center;  
    background-color: aliceblue;
    border-radius: 6%;
    background-color: gray;
}

nav{
    text-align: center;
}
li{
    display: inline;
    background: cadetblue;
}
li a {
    border: solid black;
    color: black;
}

section{

    width: 50%;
}

.container{
    
}